`str join` and `into string` handle dates differently

### Describe the bug

There is an inconsistency in how `str join` and `into string` convert dates.  The prior does RFC conversion, while the latter converts into human readable formats.

### How to reproduce

```Nushell
~> 2000-01-01 | into string 
Sat Jan  1 00:00:00 2000
~> [2000-01-01] | str join
2000-01-01T00:00:00+00:00
```

### Expected behavior

Same result.

### Screenshots

_No response_

### Configuration

| key                | value                                                        |
| ------------------ | ------------------------------------------------------------ |
| version            | 0.87.1                                                       |
| branch             |                                                              |
| commit_hash        |                                                              |
| build_os           | linux-x86_64                                                 |
| build_target       | x86_64-alpine-linux-musl                                     |
| rust_version       | rustc 1.72.1 (d5c2e9c34 2023-09-13) (Alpine Linux 1.72.1-r0) |
| cargo_version      | cargo 1.72.1                                                 |
| build_time         | 2023-11-27 13:49:51 +00:00                                   |
| build_rust_channel | release                                                      |
| allocator          | mimalloc                                                     |
| features           | default, sqlite, trash, which, zip                           |
| installed_plugins  |                                                              |

### Additional context

_No response_

We should probably make these consistent. I'd support the `str join` flavor since that is the flavor that datetime literals use. We also have the date and datetime literals.

```
❯ 2023-01-01
Sun, 1 Jan 2023 00:00:00 +0000 (11 months ago)
❯ 2023-01-01T00:00:01
Sun, 1 Jan 2023 00:00:01 +0000 (11 months ago)
❯ 2023-01-01T00:00:01+00:00
Sun, 1 Jan 2023 00:00:01 +0000 (11 months ago)
❯ 2023-01-01 | into string
Sun Jan  1 00:00:00 2023
❯ [2023-01-01] | str join
2023-01-01T00:00:00+00:00
```

@fdncred I think date to string conversion should use a machine readable format.  And help can be whatever, really.  I feel like `Value` needs `to_string()` and `to_human_string()` methods to separate those two, but that would require a lot of refactoring for dubious gain.

we have too many value to_string variants the way it is now so I wouldn't advocate another one.

I think the easiest is to do as @fdncred said, just make `into string` and `str join` consistent with the other. 

I would expect something like this, what do you think?
```nu
~> 2023-01-01T00:00:01+00:00
Sun, 1 Jan 2023 00:00:01 +0000 (2 years ago)
~> 2023-01-01T00:00:01+00:00 | into string
Sun, 1 Jan 2023 00:00:01 +0000
~> [ 2023-01-01T00:00:01+00:00 ] | str join
Sun, 1 Jan 2023 00:00:01 +0000
```

@LoicRiegel 

Reopening this since, AFAICT, the new behavior after #15629 is still not consistent between `str join` and `into string`:

```nushell
[ 2024-01-11 ] | str join
# => Thu, 11 Jan 2024 00:00:00 +0000

2024-01-11 | into string
# => Thu Jan 11 00:00:00 2024

2024-01-11 | to text
# => Thu, 11 Jan 2024 00:00:00 +0000 (a year ago)

2024-01-11
# => Thu, 11 Jan 2024 00:00:00 +0000 (a year ago)

$env.config.datetime_format.normal = '%a, %d %b %Y %H:%M:%S %z'
2024-01-11
# => Thu, 11 Jan 2024 00:00:00 +0000

# Still includes the humanization ...
2024-01-11 | to text
# => Thu, 11 Jan 2024 00:00:00 +0000 (a year ago)
```

Somewhat related -- `format date -l` shows `%+` as being RFC 3339, but:

```nushell
date now | format date '%+'
# => 2025-05-13T21:25:58.140009957-04:00
```

isn't that rfc 3339?

I didn't check the ``into string`` and ``into text`` last time

RFC3339 is something else, it's used for negative dates, for instance:
```nu
> "3000 years ago" | into datetime
# => -0975-05-15T16:52:29.745492900+02:00 (3001 years ago)
```

So what do we want? I guess RFC 2822 as much as possible, right? I suggest
- RFC 2282 (or RFC3339 for negative years as fallback) without humanization for ``str join``, ``to text`` and ``into string``.
- RFC 2282 (or RFC3339 for negative years as fallback) with humanization for datetime representation and ``into datetime``



> Somewhat related -- `format date -l` shows `%+` as being RFC 3339, but:

This seems right, it's RFC3339 indeed
```nu
> "3000 years ago" | into datetime
# => -0975-05-15T16:57:53.131337700+02:00 (3001 years ago)
> "3000 years ago" | into datetime | format date '%+'
# => -0975-05-15T16:57:50.718796100+02:00
```

> So what do we want?

RFC 3339

> This seems right, it's RFC3339 indeed

That's what I was thinking. When looking at the RFC the only difference I saw that may be different was that we have 9 fractional seconds.

> "3000 years ago" | into datetime

Are you still on 0.103?  I thought that didn't work under 0.104?

> > So what do we want?
> 
> RFC 3339
> 
> > This seems right, it's RFC3339 indeed
> 
> That's what I was thinking. When looking at the RFC the only difference I saw that may be different was that we have 9 fractional seconds.

So you're saying we should RFC3339 everywhere (str join, to text and into string) except when displaying a datetime (e.g. someone types ``date now``?
What makes you prefer RRC 2282 over 3339 for those use cases, but 2282 for the other use cases?

> Fair, but this issue (which was marked fixed by [#15629](https://github.com/nushell/nushell/pull/15629)) was about `str join` vs. `into string` :-)

Oh my god was I this blind? I guess so, I checked my PR again,

> 
> > or RFC3339 for negative years as fallback
> 
> Why do we want something so different for negative dates?

RFC2282 does not work for negative dates, just can't be computed. I haven't actually looked at the document but I guess it's invalid for this norm.

> Also, I thought that `str join` was supposed to use RFC 3339 for negative dates after your change, but ...
> 
> [ (0000-01-01 - 1day) ] | str join
> -0001-12-31T00:00:00+00:00
> 
> Is that also RFC 3339?

Yes, this looks like RFC3339

> > "3000 years ago" | into datetime
> 
> Are you still on 0.103? I thought that didn't work under 0.104?

Oh I might have still been on 0.103

Okay I'm gonna double-trippe-check everything tomorrow :joy:

When I exactly know what to change, I can do the fix, and this time make sure everything in this issue is covered ^^

> When I exactly know what to change, I can do the fix, and this time make sure everything in this issue is covered ^^

Thanks! ... But ;-)

Based on yesterday's call, I think we're going to hold off making any more changes in this area for now.  We're going to consider this as part of the larger "type -> string" conversion issue in #14090. Not that the proposal there is what is decided; just that we really do need to determine how we want this to work going forward.

Oh okay, I couldn't be there yesterday, thx for letting me know :)
I can still help with #14090 once we decide what we want

@fdncred RFC 3339 doesn't specify the precision (it's neither milli, nor micro, nor nano, nor atto), it's just a _fraction_ of a second, which means the precision is implementation-dependent. In other words, both `12:00:03.5` and `12:00:03.50000000000000000000000000` are valid and represent the same instant.

I looked at the RFC the other day and didn't see where it specifies precision either. Thanks